In [5]:
import json, gzip, os
import pandas as pd

In [8]:
#read anchor text to data frame
path = "mnt/ceph/storage/data-in-progress/data-teaching/theses/wstud-thesis-probst/retrievalExperiments/"



for j in range(0, 5):
    df_anchor = pd.DataFrame()
    for i in range((j*2000), 2000*(j+1)):
        tmp_df = pd.read_json(path+'samples/cc-combined-anchortext/cc-combined-anchortext/part-'+str(i).zfill(5)+'.jsonl', lines=True)
        
        df_anchor = pd.concat([df_anchor, tmp_df])
        
        if i%200 == 0:
            print(i)
    print("i: "+str(i)+" j: "+str(j))
    df_result = df_anchor.merge(df_at_orcas, how="inner", on="id")          
    with open("mnt/ceph/storage/data-in-progress/data-teaching/theses/wstud-thesis-probst/retrievalExperiments/samples/cc-combined-anchortext/matchedToOrcas/at-matched.jsonl", "a") as file1:
        file1.writelines(df_result.to_json(orient='records', lines=True))

#with gzip.open('mnt/ceph/storage/data-in-progress/data-teaching/theses/wstud-thesis-probst/retrievalExperiments/samples/cc-19-47-anchortext-one-part/part-00000.jsonl.gz', 'r') as json_file:
#    json_list = list(json_file)

#json_elem_list = []
#for json_str in json_list:
#    json_elem = json.loads(json_str)
#    json_elem_list.append(json_elem)
#count = 1

#while len(json_list) != 0:
#    elem = json_list.pop()
#    json_elem = json.loads(elem)
#    json_elem_list.append(json_elem)
#    if (count % 100000 == 0):
#        print(count)
#    count+=1

#df_anchor = pd.DataFrame(json_elem_list)

0
200
400
600
800
1000
1200
1400
1600
1800
i: 1999 j: 0
2000
2200
2400
2600
2800
3000
3200
3400
3600
3800
i: 3999 j: 1
4000
4200
4400
4600
4800
5000
5200
5400
5600
5800
i: 5999 j: 2
6000
6200
6400
6600
6800
7000
7200
7400
7600
7800
i: 7999 j: 3
8000
8200
8400
8600
8800
9000
9200
9400
9600
9800
i: 9999 j: 4

In [38]:
print("1")
with open('mnt/ceph/storage/data-in-progress/data-teaching/theses/wstud-thesis-probst/retrievalExperiments/samples/orcas/orcas-docs.jsonl', 'r') as json_file:
    json_list = list(json_file)
print("2")
json_elem_list = []
count=1

while len(json_list) != 0:
    elem = json_list.pop()
    json_elem = json.loads(elem)
    json_elem_list.append(json_elem)
    if (count % 100000 == 0):
        print(count)
    count+=1
    
df_content = pd.DataFrame(json_elem_list)
print("DONE!")

1
2
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
DONE!

In [39]:
df_content

              id                                           contents
0        D999999  does gatorade expire expired gatorade gatorade...
1        D999992                            parasite identification
2         D99999  rosedale rosedale new york rosedale ny rosedal...
3        D999989  how to get a passport in illinois illinois pas...
4        D999987  define profound define scrutiny definition of ...
...          ...                                                ...
1422022    D1000  chairman of the house committee committee chai...
1422023     D100                                           spoofing
1422024      D10  the obligation to endure the obligation to end...
1422025       D1  b certification b company b corp b corp certif...
1422026       D0          what is a corporation whats a corporation

[1422027 rows x 2 columns]

In [49]:
df_result = df_anchor.merge(df_at_orcas, how="inner", on="id") #.dropna().drop("contents_x", axis=1).rename(columns={'contents_y': 'contents'})

In [13]:
df_result_1 = df_result.dropna().drop("contents_y", axis=1).rename(columns={'contents_x': 'contents'})
df_result_2 = df_result.dropna().drop("contents_x", axis=1).rename(columns={'contents_y': 'contents'})

In [ ]:
with open("mnt/ceph/storage/data-in-progress/data-teaching/theses/wstud-thesis-probst/retrievalExperiments/samples/cc-combined-anchortext/matchedToOrcas/at-matched.jsonl", "w") as file1:
    file1.writelines(df_result.to_json(orient='records', lines=True))

In [50]:
df_result

               id                                           contents
0         D115371  reported that 458 fatal workplace injuries Sam...
1         D747924  automate your marketing efforts Marketing Auto...
2        D1010234  UC Riverside http://www.classes.ucr.edu/fees/s...
3        D1580101  a new structure in HCV care a new structure in...
4         D992563  Tips on using your iPhone for free abroad How ...
...           ...                                                ...
1008309   D495255  http://dogs.petbreeds.com/l/55/Dachshund http:...
1008310  D3369629  Intrusion Detection System (IDS) Software Ð¾Ð±Ð½Ð°...
1008311  D3489838  Food Protein Induced Enterocolitis Syndrome (F...
1008312  D3445547  add around 10% to the value of your home carry...
1008313  D1945041  St. Bernardus St. Bernardus St. Bernardus http...

[1008314 rows x 2 columns]

In [14]:
df_result_2

              id                                           contents
0       D2542484  amy kuns find jodi huisentruit huisentruit jod...
1        D170141  does neptune have moons how many moons does ne...
2       D1999870  is starbucks open on christmas is starbucks op...
3        D931289  aquarium grass fish tanks freshwater aquarium ...
4       D3139124   herban feast sodo park seattle sodo park wedding
...          ...                                                ...
758603   D624053  city of miami gardens miami gardens miami gard...
758604  D3070455  customer service john lewis john lewis cello r...
758605  D3324569  foraker act the foraker act what was the forak...
758606  D1239229  consumer reports free trial consumer reports t...
758607  D2874886  federal maritime commision federal maritime co...

[758608 rows x 2 columns]

In [26]:
#jsonl id extractor:
path = "mnt/ceph/storage/data-in-progress/data-teaching/theses/wstud-thesis-probst/retrievalExperiments/"
outfile = 'workingDir/anchortext-ids'


with open(path+outfile, 'w') as output_file:
    for i in range(0, 10000):
        with open(path+'samples/cc-combined-anchortext/cc-combined-anchortext/part-'+str(i).zfill(5)+'.jsonl', 'r') as json_file:
            line = json_file.readline()
    
            while line:
                json_elem = json.loads(line)
                output_file.write(json_elem['id']+'\n')
                line = json_file.readline()
        if i%1000 == 0:
            print(i)

print('DONE!')

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
DONE!

In [6]:
#join ids
path="mnt/ceph/storage/data-in-progress/data-teaching/theses/wstud-thesis-probst/retrievalExperiments/workingDir/"

df_at = pd.read_csv(path+"anchortext-ids", header=0, names=["id"])
df_orcas = pd.read_csv(path+"orcas-ids", header=0, names=["id"])
df_at_orcas = df_at.merge(df_orcas, how="inner", on="id")
#df_at_orcas.to_csv(path+"anchortext-orcas-ids", header=None, index=None, mode='w') #write ids to file